<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Absolut">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" type="image/png" href="{asset('apple-icon.png')}"/>
    <link rel="stylesheet" href="{asset('css/tailwind.css')}?m={filemtime(public_path('css/tailwind.css'))}">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16"></script>

    <title>Absolut</title>
    <style>
        @font-face {
            font-family: "Absolut";
            src: url("/fonts/AbsolutHeadline2017-Regular.ttf") format("truetype");
            font-style: normal;
            font-weight: normal;
        }

        h1, h2 {
            font-family: "Absolut", sans-serif;
        }
    </style>
    {block head}{/block}

</head>
<body>

{include content}
{if url()->current() === route('bottles.index')}
    <footer class="text-center text-gray-400 my-3 text-sm">
        <p class="text-[#0048ba]"><i class="fa-regular fa-copyright pe-1"></i><i class="fa-solid fa-2"></i><i class="fa-solid fa-0"></i><i class="fa-solid fa-1"></i><i class="fa-solid fa-9"></i><i class="fa-solid fa-minus px-2"></i><i class="fa-solid fa-{str_split(date('Y'))[0]}"></i><i class="fa-solid fa-{str_split(date('Y'))[1]}"></i><i class="fa-solid fa-{str_split(date('Y'))[2]}"></i><i class="fa-solid fa-{str_split(date('Y'))[3]}"></i> </p>
    </footer>
{/if}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

{block bottomscripts}{/block}
</body>
</html>
