@font-face {
    font-family: 'Absolut';
    src:  url(../fonts/absolut-headline.ttf) format('truetype'),
          url(../fonts/absolut-headline.woff) format('woff');
}

* {
    font-family: Absolut, sans-serif;
}

body {
    background-color: #DEDEDE;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    text-align: center;
    font-weight: 100;
    font-size: 1.9rem;
}

.ul-list ul {
    text-align: left;
    font-size: 2rem;
    margin-left: 40px;
}

.galleryPreview {
    width: 100%;
    margin: 0.5rem;
}

.bottle-photo {
    float: left;
    width: 33%;
}

.bottle-name {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.description {
    margin-top: 50px;
    padding-left: 40px;
    max-width: 740px;
    font-size: 1.2rem;
}

.filter {
    font-size: .9rem;
    color: #888;
    vertical-align: middle;
}

.footer {
    font-size: 0.9em;
    margin-top: 25px;
    color: #888;
    text-align: center;
}