@font-face {
    font-family: 'Absolut';
    src:  url('../fonts/absolut-headline.ttf') format('truetype'),
          url('../fonts/absolut-headline.woff') format('woff');
}

body {
    font-family: Absolut, sans-serif;
    background-color: #DEDEDE;
    color: #333;
    padding: 20px 0 28px 0;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.title {
    text-align: center;
    font-weight: 100;
    font-size: 1.9rem;
}

.galleryPreview {
    width: 100%;
    margin: 0.5rem;
}

.showcase p {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 50px;
}

.showcase ul li {
    padding-left: 25px;
}

.bottle-photo {
    float: left;
    width: 30%;
    margin-right: 15px;
}

.bottle-name {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.description {
    margin-top: 50px;
    padding-left: 40px;
    max-width: 740px;
}

.filter {
    font-size: .9rem;
    color: #888;
    vertical-align: middle;
}

.footer {
    margin-top: 25px;
    font-size: .9rem;
    color: #888;
    text-align: center;
}